.container {
    width: 100vw;
    height: 100vh;
    background: var(--color-code-bg);
    display: flex;
    flex-direction: column;
  }
  
  .textarea {
    flex: 1;
    width: 100%;
    padding: 16px;
  
    background: var(--color-code-bg);
    color: var(--color-fg);
  
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
  
    resize: none;
    overflow: auto;
    border: none;
    outline: none;
  
    white-space: pre;
  }