.container {
  width: 100vw;
  height: 100vh;
  background: var(--color-code-bg);
  display: flex;
  flex-direction: column;
}

.textarea {
  flex: 1;
  width: 100%;
  padding: 16px;

  background: var(--color-code-bg);
  color: var(--color-fg);

  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;

  resize: none;
  overflow: auto;
  border: none;
  outline: none;

  white-space: pre;
}

.toolbar {
  display: flex;
  justify-content: center; 
  padding: calc(5px * var(--pixel-scale));
}

.copyButton {
  padding: 0.4rem 0.75rem;
  font-size: calc(4px * var(--pixel-scale));
  cursor: pointer;
  background: var(--color-accent);
  color: var(--color-bg);
  transition: background 0.2s ease, color 0.2s ease;
  border-radius: 6px;
  font-weight: 700;
}

.copyButton:hover {
  background: var(--color-accent-alt);
  color: var(--color-fg);
}
