.storyIcon {
  position: relative;
  width: calc(64px * var(--pixel-scale));
  height: calc(64px * var(--pixel-scale));
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
}

.bg {
  object-fit: contain;
}

.title {
  position: absolute;
  top: calc(3px * var(--pixel-scale));
  left: 50%;
  transform: translateX(-50%);

  width: calc(70px * var(--pixel-scale));
  height: calc(14px * var(--pixel-scale)); 

  font-family: "Luckiest Guy", system-ui, sans-serif;
  font-size: calc(9px * var(--pixel-scale));
  letter-spacing: 0.04em;
  color: var(--text-title);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);

  white-space: normal;
  text-align: center;
  line-height: 0.8;

  display: flex;
  align-items: center;      
  justify-content: center;  
}

.image {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: calc(48px * var(--pixel-scale));
  height: calc(32px * var(--pixel-scale));
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  transform: translateY(calc(-3px * var(--pixel-scale)));
}

.badge {
  position: absolute;
  bottom: calc(2px * var(--pixel-scale));
  width: calc(16px * var(--pixel-scale));
  height: calc(16px * var(--pixel-scale));
}

.badgeLeft {
  left: calc(40px * var(--pixel-scale));
}

.badgeCenter {
  left: 50%;
  transform: translateX(-50%);
}

.badgeRight {
  right: calc(40px * var(--pixel-scale));
}


.link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}