@import "tailwindcss";

:root {
  /* Base Colors */
  --color-bg: #0b0b0c;
  --color-fg: #e6edf3;
  --color-accent: #f87171;
  --color-accent-alt: #34d399;
  --color-code-bg: #121013;
  --color-link: #a5f3fc;

  /* Font sizes */
  --font-size-base: 21px;
  --font-size-lg: 23px;
  --font-size-xl: 25px;

  /* Font weights */
  --font-weight-bold: 800;

  /* Spacing */
  --spacing-padding: 12px;
  --spacing-gap: 16px;

  --pixel-scale: 5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #201525;
    --color-fg: #fe8cbf;
    --color-accent: #eb4181;
    --color-link: #73deff;
  }
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-size: var(--font-size-base);
  font-family: "Times New Roman", Times, serif;
  line-height: 1.6;
}

a {
  color: var(--color-link);
}
a:hover {
  color: var(--color-accent);
}

.code-block {
  background: var(--color-code-bg);
  padding: var(--spacing-padding);
  border-radius: 6px;
  font-family: monospace;
  font-size: var(--font-size-base);
  line-height: 1.5;
  white-space: pre;
  overflow-x: auto;
  display: inline-block;
  max-width: 100%;
}

.highlight {
  padding: var(--spacing-padding);
  background: #111827;
  border-left: 4px solid var(--color-accent);
  color: var(--color-fg);
  border-radius: 6px;
}

.iconGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(64px * var(--pixel-scale)));
  column-gap: calc(5px * var(--pixel-scale));
  row-gap: calc(0px * var(--pixel-scale));
  justify-content: center;
  align-content: start;
}

code {
  background: var(--color-code-bg);
  padding: 2px 4px;
  border-radius: 4px;
  font-family: monospace;
  white-space: nowrap;
}

p {
  max-width: 105ch;
  margin-bottom: .5em;
}

.dialogue {
  font-weight: var(--font-weight-bold);
  color: var(--color-fg);
  margin-bottom: 2em;
}

.accent {
  color: var(--color-accent);
  font-weight: var(--font-weight-bold);
}

.action {
  /* font-style: italic; */
  color: var(--color-accent-alt);
}
